body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 0px;
} 
 
section{
    display: flex;
    width: 100%;
    margin-bottom: 140px;
}
 .boy{
     color: orange;
 }

 .half{
     width: 50%;
     padding-left: 5%;
 }
  .half img{
      width: 80%;
       
  }
  .link_button{
      background: rgb(9, 231, 65);
      color: white;
      padding: 10px 25px;
      text-decoration: none;
      border-radius: 10px;

  }
  .top-banner{
      background-image: url(images/top-banner.png);
      background-repeat: no-repeat;
  }
.resume{
    background: orange;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
.middle_banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}